<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.application.bris.ikurma_nos_gadai">

    <application
        android:name=".baseapp.BaseApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:allowBackup">
        <activity android:name=".page_aom.view.gadai.uji_opname.ListCabangActivity"></activity>
        <activity android:name=".page_aom.view.gadai.uji_opname.ListAreaActivity" />
        <activity android:name=".page_putusan_gadai.detail_putusan_gadai.DetailPutusanGadaiActivity" />
        <activity android:name=".page_putusan_gadai.PutusanGadaiActivity" />
        <activity android:name=".page_aom.view.gadai.menu_penjualan.MenuPenjualanActivity" />
        <activity android:name=".page_aom.view.gadai.uji_kualitas.ListUjiKualitas" />
        <activity android:name=".page_aom.view.gadai.uji_kualitas.ActivityUjiSekarang" />
        <activity android:name=".page_aom.view.gadai.uji_kualitas.ActivityUjiNanti" />
        <activity android:name=".page_aom.view.gadai.uji_acak.ListUjiAcak" />
        <activity android:name=".page_aom.view.gadai.uji_acak.ActivityUjiAcak" />
        <activity android:name=".page_aom.view.gadai.serah_terima.DetailSerahTerimaActivity" />
        <activity android:name=".page_aom.view.gadai.serah_terima.ListSerahTerimaActivity" />
        <activity android:name=".page_aom.view.gadai.hasil_penjualan.DetailHasilPenjualanActivity" />
        <activity android:name=".page_aom.view.gadai.hasil_penjualan.HasilPenjualanActivity" />
        <activity android:name=".page_aom.view.gadai.uji_opname.ListIsiLaciActivity" />
        <activity android:name=".page_aom.view.gadai.uji_opname.ListLaciActivity" />
        <activity android:name=".page_aom.view.gadai.uji_opname.ListBrankasActivity" />
        <activity android:name=".page_aom.view.gadai.uji_opname.ListUjiOpnameActivity" />
        <activity android:name=".page_aom.view.gadai.capture_agunan.ListAgunanActivity" />
        <activity android:name=".page_aom.view.gadai.capture_agunan.CaptureAgunanActivity" />
        <activity android:name=".page_aom.view.prapen.d4_verifikasi_otor.verif_hutang.TambahHutangVerifikatorActivity" />
        <activity android:name=".page_aom.view.prapen.g1_akad_dan_asesoir.field_ojk_bi.ActivityFieldOjkBI" />
        <activity android:name=".page_aom.view.prapen.g3_upload_dokumen.ActivityUploadDokumen" />
        <activity android:name=".page_aom.view.prapen.d4_verifikasi_otor.verif_jangka_waktu.ActivityJangkaWaktuPembiayaan" />
        <activity android:name=".page_aom.view.prapen.d4_verifikasi_otor.verif_kesimpulan.KesimpulanVerifikasi" />
        <activity android:name=".page_aom.view.prapen.g1_akad_dan_asesoir.data_akad.DataAkadActivity" />
        <activity android:name=".page_aom.view.prapen.g1_akad_dan_asesoir.persiapan_akad.PersiapanAkadActivity" />
        <activity android:name=".page_aom.view.prapen.g1_akad_dan_asesoir.data_asesoir.AsesoirActivity" />
        <activity android:name=".page_aom.view.prapen.d1_data_entry.data_dedupe.DataDedupeActivity" />
        <activity android:name=".page_aom.view.prapen.d4_verifikasi_otor.verif_dsr_dbr.Activity_DSR_DBR_Nasabah" />
        <activity android:name=".page_aom.view.prapen.d3_confirm_validasi_engine.canvasing.HasilCanvasingActivity" />
        <activity android:name=".page_aom.view.prapen.d4_verifikasi_otor.verif_tempat_kerja.VerifikasiTempatKerjaActivity" />
        <activity android:name=".page_aom.view.prapen.d4_verifikasi_otor.verif_ideb.VerifikasiIdebActivity" />
        <activity android:name=".page_aom.view.prapen.d4_verifikasi_otor.verif_hutang.VerifikasiHutangActivity" />
        <activity android:name=".page_aom.view.prapen.d4_verifikasi_otor.verif_fitur.VerifikasiFiturActivity" />
        <activity android:name=".page_aom.view.prapen.d4_verifikasi_otor.verif_rac.VerifikasiRacActivity" />
        <activity android:name=".page_aom.view.prapen.d3_confirm_validasi_engine.simulasi_angsuran.kalkulatorsimulasiangsuran" />
        <activity android:name=".page_aom.view.prapen.d4_verifikasi_otor.verif_pendapatan.ActivityVerifikasiPendapatan" />
        <activity android:name=".page_aom.view.prapen.d3_confirm_validasi_engine.dokumen_pendapatan.ActivityDokumenPendapatan" />
        <activity android:name=".page_aom.view.prapen.d3_confirm_validasi_engine.jaminan.dataJaminanActivity" />
        <activity android:name=".page_aom.view.prapen.memo.MemoActivity" />
        <activity android:name=".page_aom.view.prapen.d3_confirm_validasi_engine.data_ideb.EditIdebActivity" />
        <activity android:name=".page_aom.view.prapen.d3_confirm_validasi_engine.data_ideb.DataIdebActivity" />
        <activity android:name=".page_aom.view.prapen.d1_data_entry.data_pembiayaan.DataPembiayaanActivity" />
        <activity android:name=".page_aom.view.prapen.d3_confirm_validasi_engine.data_hutang.TambahDataHutangActivity" />
        <activity android:name=".page_aom.view.prapen.d3_confirm_validasi_engine.data_hutang.DataHutangActivity" />
        <activity android:name=".page_aom.view.prapen.DetilAplikasiActivity" />
        <activity android:name=".page_aom.view.prapen.d1_data_entry.data_marketing.DataMarketingActivity" />
        <activity android:name=".page_aom.view.prapen.d1_data_entry.data_nasabah.DataNasabahPrapenActivity" />
        <activity android:name=".view.corelayout.splashscreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.corelayout.login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.corelayout.CoreLayoutActivity" />
        <activity android:name=".view.corelayout.activation.WelcomeActivity" />
        <activity android:name=".view.corelayout.activation.ScanActivity" />
        <activity android:name=".view.corelayout.login.LoginActivity2" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_kurma_notif_large" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.application.bris.ikurma_nos_gadai.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".service.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>